gunicorn
playwright
selenium
pyppeteer

flask
flask-wtf
PyMuPDF
reportlab
python-docx
matplotlib
requests
yt-dlp
pytube

google-auth-oauthlib
google-auth-httplib2
google-api-python-client
Werkzeug
jupyter
docling
Pygments
urllib3<2
